package factories


import (
    "github.com/wawandco/facto"
)

// {{.Name}}Factory is a factory for {{.Name}} 😬.
func {{ .Name }}Factory(h facto.Helper) facto.Product {
    return facto.Product(nil)
}