package factories

import (
    "github.com/wawandco/facto"
)

// Load the factories on the Facto registry, in this
// function the Facto CLI will insert new factories after
// generated.
//
// This function should be called by tests before running
// To factories available.
func Load() {
    // Register the factories
}